/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }
body{
    background-color: #b2bec3;
}

.box{
    background-color: white;
    text-align: justify;
    width: 550px;
    padding: 30px;
    margin: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px;
}

h1{
    font-size: 36px;
    color: #d63031;
    margin: 0
}

.foto{
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px;
}

a{
    color: white;
    text-decoration: none;
}

.twitter{
    background-color: #1da1f2;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
}

.twitter:hover{
    background-color: #0b7bc1;
}

.facebook{
    background-color: #3b5998;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.facebook:hover{
    background-color: #2b406e;
}

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

